<div class="input-container">
  <input
    type="number"
    (keydown.enter)="onKeydownEnter()"
    [(ngModel)]="enteredAmount"
    placeholder="Enter amount..."
  />

  <div class="currency">
    <button
      (click)="setCurrency('USD')"
      [class.active]="selectedCurrency === 'USD'"
    >
      USD
    </button>
    <button
      (click)="setCurrency('EUR')"
      [class.active]="selectedCurrency === 'EUR'"
    >
      EUR
    </button>
  </div>
</div>

@if(visibility()) {
<app-result
  [selectedCurrency]="currency()"
  [enteredAmount]="amount()"
  (close)="onCloseForm($event)"
/>}
