/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Special Gothic Expanded One";
  background: linear-gradient(#0e0e0e 0%, #000000 100%);
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}


h1 {
  color: white;
}

p {
  color: white;
}
